In [9]:
import numpy as np
import pandas as pd
from pathlib import Path

In [10]:
from data_utils import filter_values, load_year_files

datafolder = Path("tucu")
year = 2017
year_files = load_year_files(year, datafolder)

filter_values(year_files[0])

      seconds    TEC
0           0  21.05
1          15  21.02
2          30  20.98
3          45  20.95
4          60  20.91
...       ...    ...
5756    86340    NaN
5757    86355    NaN
5758    86370    NaN
5759    86385    NaN
5760    86400    NaN

[5761 rows x 2 columns]